
/*
 *  Mantenimiento / negocio / negocioListar.jsp
 */
#div_items_negocio{
    width: 28%;
    min-height: 100vh;
    float: left;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

/*
 *  Mantenimiento / negocio / negocioInsertar.jsp
 */
#map-canvas div{
    overflow: visible;
}
