
body{
    font-size: 88%;
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
    /*    font: 13px Roboto,arial,sans-serif;*/
}

/*
 *  <tag>  
 */

footer{
    width: 100%;
    height: 20px;
    padding: 0.5em 1em;
    color: #ffffff;
    background: #000000;
    position: fixed;
    overflow: hidden;
    bottom: 0px;
}

header{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: #ffffff;
    position: relative;
}

h3{
    font-style: oblique;
}

hr{
    height: 2px;
    border: none;
    
    background: -moz-linear-gradient(left, #c2c2c2 0%, #ffffff 96%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c2c2c2), color-stop(96%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #c2c2c2 0%,#ffffff 96%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #c2c2c2 0%,#ffffff 96%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #c2c2c2 0%,#ffffff 96%); /* IE10+ */
}

input[type=text],
input[type=password],
input[type=email]{
    margin: 0.3em 0 0 2em;
/*    display: block;*/
}
input[type=submit],
input[type=button]{
    padding: 0.2em 2em;
    margin: 0.5em 0.1em;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    display: inline-block;
    position: relative;
    color: #FFFFFF;
}
input[type=submit]:hover,
input[type=button]:hover{
    background: rgba(0, 0, 0, 0.6);
}
input[type=submit]:active,
input[type=button]:active{
    background: rgba(0, 0, 0, 1.0);
}
div input[type=submit]:first-child,
div input[type=button]:first-child{
    padding: 0.2em 2em;
    margin: 0.5em 0.5em 0.1em 2.5em;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #000000;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    color: #FFFFFF;
}
div input[type=submit]:first-child:hover,
div input[type=button]:first-child:hover{
    background: rgba(0, 0, 0, 0.6);
}
div input[type=submit]:first-child:active,
div input[type=button]:first-child:active{
    background: rgba(0, 0, 0, 1.0);
}

label{
    font-size: 0.9em;
    margin: 0.2em 0 0 2.5em;
}

nav{
    width: 100%;
    height: 30px;
    padding: 0.5em 0;
    background: #FFFFFF;/*#00E1FF;*/
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    position: fixed;
    top: 40px;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul #nav_li_menu{
    padding: 0 1em;
    position: absolute;
    left: 0px;
}
nav ul li{
    display: inline-block;
    margin-right: 0.5em;
}
nav ul li a{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    display: block;
    padding: 0.5em;
    text-decoration: none;
}
nav ul li a:hover{
    color: #000000;
    cursor: pointer;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

section{
    position: relative;
    padding: 50px 0;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
section div{
    overflow: hidden;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
section #contenPanel{
    padding: 0.5em;
}
section #contenedor{
    width: 900px;
    min-height: 100vh;
    margin: 0 auto;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

textarea{
    margin: 0.5em 0 0 2em;
    display: block;
}


/*
 *  #id
 */
#div_menu{
    width: 200px;
    height: calc(100vh - 135px);
    padding: 0.5em 0;
    background: #FFFFFF;/*#00E1FF;*/
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: fixed;
    overflow-y: scroll;
    top: 85px;
}
#div_menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#div_menu ul li{
    display: block;
    padding: 0.2em 0 0 1.5em;
}
#div_menu ul li a{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    display: block;
    padding: 0.5em;
    text-decoration: none;
}
#div_menu ul li a:hover{
    color: #000000;
    cursor: pointer;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}


/*
 *  .Class  
 */
.rowLabel label:first-child{
    width: 5em;
    font-size: 1.1em;
    font-style: oblique;
    font-weight: bold;
    display: inline-block;
}

.td{
    vertical-align: top;
    display: inline-block;
}
.td:first-child{
    width: 300px;
}
.td:last-child{
    width: calc(100% - 310px);
}
.td label{
    font-style: oblique;
    font-weight: bold;
    display: block;
}
.td p{
    margin: 0 3em;
    font-size: 0.85em;
    font-style: italic;
}
.td input[type="text"],
.td input[type="email"],
.td textarea{
    margin: 0 1.5em;
    width: 90%;
}

.tdSmall{
    vertical-align: top;
    display: inline-block;
}
.tdSmall:first-child{
    width: 180px;
}
.tdSmall:last-child{
    width: calc(100% - 210px);
}
.tdSmall label{
    font-style: oblique;
    font-weight: bold;
    display: block;
}
.tdSmall p{
    margin: 0 2em 0 3em;
    font-size: 0.85em;
    font-style: italic;
}
.tdSmall input[type="text"],
.tdSmall input[type="email"],
.tdSmall textarea{
    margin: 0 1.5em;
    width: 88%;
}
